.container {
    min-height: 100vh;
    flex: 1;
    padding-bottom: 50px;
}

.container h2 {
    margin-top: 25px;
    margin-left: 35px;
}

.container .groups_box {
    width: 100%;
    padding: 0 35px;
    margin-top: 25px;
}

.container .groups_box .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .groups_box .row button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-1);
    color: #fff;
    margin-left: 10px;
}
.container .groups_box .row button:hover {
    opacity: 0.8;
}
.container .groups_box .row button:active {
    opacity: 0.4;
}

.groups_box .groups_container {
    min-height: 300px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #00000027;
    background-color: var(--box-background);
    padding: 15px;
}

.groups_box .groups_container .item {
    margin-bottom: 35px;
    width: 100%;
    font-size: 0.9rem;
    height: 50px;
    border: 1px solid rgba(127, 127, 255, 0.514);
    border-radius: 5px;
    padding: 0 15px;
    color: #666;
}

@media (max-width: 700px) {
    .groups_box .groups_container .item {
        width: 100%;
    }
    .container h2 {
        margin-left: 15px;
    }

    .container .groups_box {
        padding-left: 15px;
        padding-right: 15px;
    }
}
